.booksContainer{
    width: 90vw;
    margin: 0 auto;
    padding: 0;
}
.booksContainer h2{
    padding-bottom: 1em;
    animation: comparsaFaded 1s;
}

.books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2em;
    column-gap: 2em;
}

.book{
    margin: 1em auto;
    border-radius: 30px;
    background-color: #f4f5f7;
    animation: comparsaFaded 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: var(--mainTransition);
}

.book-md{
    width: 444px;
}

.book-lg{
    min-width: 768px;
    max-width: 1044px;
}

.book h3{
    padding: 1em 0.5em 0.5em 0.5em;
}

.book:hover{
    background-color: var(--light-gray-5) !important;
}

.book-row{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
    flex-grow: 2;
}

.book-row b{
    width: 40%;
    text-align:left; 
}

.book-row span{
    width: 60%;
    text-align: right;
}

.book-body{
    font-size: 1.3em;
}

.book-lg main{
    margin: 1.5em 1em 1em 1em;
}

.section-title{
    padding: 1em;
}

.book-section:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-right: 10%;
    border-bottom: 3px solid black;
    /* content: ''; */
}

.delete-saved-book{
    top: -45px !important;
    right: -40px !important;
    border-radius: 50%;
    border: 3px solid black;
    padding: .5em;
    position: fixed;
}

.relative-parent{
    position: relative;
}