.booksContainer{
    width: 90vw;
    margin: 0 auto;
    padding: 0;
}
.booksContainer h2{
    padding-bottom: 1em;
    animation: comparsaFaded 1s;
}

.books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2em;
    column-gap: 2em;
}

.book{
    width: 444px;
    /* height: 544px; */
    /* border:1px solid black; */
    margin: 1em auto;
    border-radius: 30px;
    background-color: #f4f5f7;
    animation: comparsaFaded 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book h3{
    padding: 1em 0.5em 0.5em 0.5em;
}

.book-row{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
    flex-grow: 2;
}

.book-row b{
    width: 40%;
    text-align:left; 
}

.book-row span{
    width: 60%;
    text-align: right;
}