.booksContainer{
    width: 90vw;
    margin: 0 auto;
}

.books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2em;
    column-gap: 2em;
}

.book{
    width: 344px;
    height: 444px;
    /* border:1px solid black; */
    margin: 0 auto;
    border-radius: 30px;
    background-color: #f4f5f7;
    animation: testoAComparsa 1s;
}

.booksContainer h2{
    padding-bottom: 1em;
    animation: testoAComparsa 1s;
}
