@media screen and (max-width: 1500px){
    .books{
      grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 1000px){
  .books{
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 800px){
    .button,
    .link{
      top: 66px;
    }

    .book{
      width: 100%;
    }

    .link{
      top:50px;
    }

    .goback-button{
      top: 0px;
    }
  
    .searchbox-group input{
      padding-left: 1.5em;
      padding-right: 1.5em;
      text-align: center;
    }
  
    .searchbox-container{
      height: 177px;
    }
  
    .icon-angleDown{
      top: 86px;
    }
}